<div class = "container">
    <app-team 
       
        [teamName] ="awayTeam"
        [score]="awayScore"
        [isHome]=false
        [isBatting]="isBattingAway"
        [isFinal]="isFinal"
        [homeWin]="homeWin">
    </app-team>
    <app-score 
        *ngIf="baseOccupancy"
        [outs] = "outs" 
        [inningStatus] = "inningStatus" 
        [baseOccupancy] = "baseOccupancy"
        [isFinal]="isFinal">
    </app-score>
    <app-team 
        [teamName] ="homeTeam"
        [score]="homeScore"
        [isHome]=true
        [isBatting]="isBattingHome"
        [isFinal]="isFinal"
        [homeWin]="homeWin">
    </app-team>

</div>




