.score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-imgs{
    width: 20vw;        /* 10% of the viewport width */
    height: 20vw;       /* make it square */
    object-fit: cover;
}

.out-imgs{     /* make it square */
    object-fit: cover;
    height: 4vh;
}
h1{
    font-size: 4rem;
}